.main-section {
    margin-top: 63px;
}

.main-card {
    /* width: 90%; */
    /* background-color: yellow; */
    margin: 0 24px 31px 24px;
}

.slide-show {
    position: relative;
    font-size: 20px;
    overflow: hidden;
}

.slide-show .images {
    /* height: 50%; */
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
    padding-bottom: 16px;

}

.slide-show .images img {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 1/.95;
    height: 100%;
    object-fit: cover;
}

.slider-btns {
    display: none;
    position: absolute;
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
    top: 45%;
    z-index: 2;
}

.slide-show:hover .slider-btns {
    display: flex;
}

.slider-btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    aspect-ratio: 1;
    margin: 0 5px;
    border-radius: 50%;
}

.slider-btns button.right::before {
    content: '>';
}

.slider-btns button.left::before {
    content: '<';
}

.slide-show .heart {
    /* display: none; */
    position: absolute;
    top: 14px;
    right: 16px;
    z-index: 1;
}

.slide-show .heart .heart-svg {
    display: block;
    fill: rgba(0, 0, 0, 0.5);
    height: 24px;
    width: 24px;
    stroke: #fff;
    stroke-width: 2;
    overflow: visible;
}


.main-card-elements {
    padding-top: 8px;
}

.name-and-rating {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
    font-size: 13px;
}

.name-and-rating i {
    font-size: 13px;
}

.name-and-rating p {
    font-size: 15px;
}

.other-details p {
    padding-bottom: 2px;
    font-size: 15px;
    color: #707070;
    text-overflow: ellipsis;
    max-width: 20px;
    white-space: nowrap;
}

.other-details .amount {
    display: flex;
    align-items: baseline;
    padding: 8px 0;
    font-size: 13px;
}

.other-details .amount span {
    font-size: 15px;
}